---
layout: page
# All the Tags of posts.
---

<div id="tags" class="d-flex flex-wrap mx-xl-2">
  {% assign posts_en = site.posts | where: "lang", "en" %}

  {% assign tags = '' | split: '' %}
  {% for post in posts_en %}
    {% for t in post.tags %}
      {% assign tags = tags | push: t %}
    {% endfor %}
  {% endfor %}

  {% assign sorted_tags = tags | uniq | sort_natural %}

  {% for t in sorted_tags %}
    {% assign count = 0 %}
    {% for post in posts_en %}
      {% if post.tags contains t %}
        {% assign count = count | plus: 1 %}
      {% endif %}
    {% endfor %}

    <div>
      <a class="tag" href="{{ t | slugify | url_encode | prepend: '/tags/' | append: '/' | relative_url }}">
        {{ t -}}
        <span class="text-muted">{{ count }}</span>
      </a>
    </div>
  {% endfor %}
</div>
