@use '../abstracts/breakpoints' as bp;
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;
@use '../abstracts/placeholders';

footer {
  overflow: hidden;
  max-width: 100vw;
  background-color: var(--main-bg);
  height: v.$footer-height;
  border-top: 1px solid var(--main-border-color);

  @extend %text-xs;

  @include bp.lt(bp.get(lg)) {
    @include mx.slide;

    height: v.$footer-height-large;
    padding: 1.5rem 0;
  }

  a {
    @extend %text-highlight;

    &:hover {
      @extend %link-hover;
    }
  }

  em {
    @extend %text-highlight;
  }

  p {
    text-align: center;
    margin-bottom: 0;
  }
}

.lang-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-top: 0.5rem;
  
  > a {
    &:hover {
      border: 0;
    }
  };
}